<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parkingzone">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ParkingTimer">

        </activity>
        <activity android:name=".PaymentsOption" />
        <activity android:name=".FAQ_Page" />
        <activity android:name=".QR_CodeDisplay">

        </activity>
        <activity android:name=".ParkingData" />
        <activity android:name=".SettingOwnerPage" />
        <activity android:name=".CheckOutPage" />
        <activity android:name=".SignUpOwner" />
        <activity android:name=".OwnerHomePage" />
        <activity android:name=".SignUpOwner2" />
        <activity android:name=".Selection" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".ParkingLot" />
        <activity android:name=".MyParking" />
        <activity android:name=".UserProfile" />
        <activity android:name=".SettingPage" />
        <activity android:name=".SignUpActivity2" />
        <activity android:name=".HomePage" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA2uLznzrfvrX5oVd5FVvrQti7u7xgcOe0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>